.link.box {
  h2 {
    padding: 0.5rem;
    a,a:hover,a:visited {
      color: #ffffff;
    }
  }

  .pubdate,.enclosureurl,.url,.edit {
    display: inline;
    margin: 0;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }

  ul.tags {
    padding-left: 0;
    margin: 0;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline;
    li {
      list-style-type: none;
      display: inline;
      margin-right: 0.5rem;
    }
  }
}

form .ui.form {
  .field {
    .attached-label > input, .attached-label > textarea {
      margin-bottom: 2rem;
    }
    .attached-geo-label > input, .attached-geo-label > textarea {
      margin-bottom: 3.2rem;
    }
  }
  .selectize-input {
    line-height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.3125em;
  }
}

#map {
  height: 20rem;
}

.oos {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}