.card {
  h2 {
    margin-bottom: 0.3em !important;
    a {
      color: inherit;
    }
  }
  .meta {
    .label,.button {
      margin-bottom: 0.3em;
      margin-top: 0.3em;
    }
  }
}

#link-form {
  textarea {
    height: auto;
    max-height: none;
  }
}

.oos {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}