body {
  margin: 50px 0 0;
}

#main {
  &>.basic.segment:first-child {
    margin-bottom: 0;
  }
  &>.basic.segment:last-child {
    margin-top: 0;
    padding-top: 0;
  }
}

h1.ui.primary.block.dividing.header {
  background-color: #ffffff;
}

a .icon {
  text-decoration: none;
}

a, a:hover, a:visited {
  color: #000000;
}

a:hover {
  text-decoration: none;
}

#mission-statement {
  overflow: hidden;

  img {
    margin-bottom: 0;
  }
}