{% extends 'FreifunkLinkSinkBundle::layout.html.twig' %}

{% block css %}
    {% stylesheets filter="compass"
    "@FreifunkLinkSinkBundle/Resources/assets/css/links.scss"
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% stylesheets filter=""
    "@FreifunkLinkSinkBundle/Resources/assets/css/jquery-ui.min.css"
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link rel="stylesheet" href="/css/selectize.css"/>
{% endblock %}

{% block javascripts %}
    {% javascripts
    "@FreifunkLinkSinkBundle/Resources/assets/js/jquery-ui.min.js"
    "@FreifunkLinkSinkBundle/Resources/assets/js/link_forms.js"
    "@FreifunkLinkSinkBundle/Resources/assets/js/links.js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="/js/selectize.min.js"></script>
{% endblock %}

{% block body -%}
    <div class="ui basic segment">
        <h1 class="ui primary block dividing header">Link bearbeiten</h1>
    </div>

    <div class="ui basic segment">
        <div class="ui segment">
            {{ include('FreifunkLinkSinkBundle:Link:link_form.html.twig',{'entity':entity}) }}
        </div>
    </div>

{% endblock %}
