{% extends 'CalciferBundle::layout.html.twig' %}

{% block css %}
    {% stylesheets filter="compass"
    "@CalciferBundle/Resources/assets/css/jquery.datetimepicker.scss"
    "@CalciferBundle/Resources/assets/css/events.scss"
    "@CalciferBundle/Resources/assets/css/leaflet.scss" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
    "@CalciferBundle/Resources/assets/js/jquery.datetimepicker.js"
    "@CalciferBundle/Resources/assets/js/events.js"
    "@CalciferBundle/Resources/assets/js/leaflet.js" %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body -%}
    <div class="ui one column page grid">
        <div class="ui column">
            <h1>Termin bearbeiten</h1>
        </div>
    </div>

    <div class="ui one column page grid">
        <div class="ui column">
            {{ include('CalciferBundle:Event:event_form.html.twig',{'entity':entity}) }}
        </div>
    </div>

{% endblock %}
