/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/app/linksink.sqlite3
/web/css/semantic.css
/web/js/semantic.js
/web/css/selectize.css
/web/js/selectize.min.js
/web/js/jquery-3.1.1.js
