<form class="ui form category" method="post" action="{% if entity.id|default(0) > 0 %}{{ path('category_update',{'slug':entity.slug}) }}{% else %}{{ path('category_create') }}{% endif %}">
    <div class="ui stackable grid">
        <div class="sixteen wide column">
            <div class="required field{% if(errors|default('0') != 0) %} {% if('category_name' in errors|keys) %}error{% endif %}{% endif %}">
                <label for="category_name">Name</label>

                <div class="ui icon input">
                    <input type="text"
                       id="category_name"
                       name="name"
                       value="{{ entity.getName()|default('') }}"
                       required="required"
                       maxlength="255"
                       class="form-control">
                    {% if(errors|default('0') != 0) %} {% if('category_name' in errors|keys) %}
                        <div class="ui red pointing above ui label">{{ errors.category_name }}</div>
                    {% endif %}{% endif %}
                </div>
            </div>
        </div>
    </div>
    <input type="submit" class="ui button primary" value="Speichern"/>

</form>
