{% extends "FreifunkLinkSinkBundle::layout.html.twig" %}

{% block title %}FreifunkLinkSinkBundle:Category:show{% endblock %}

{% block body %}
<h1>Welcome to the Category:show page</h1>
{% endblock %}
