parameters:
    database_driver:   pdo_sqlite
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    database_path: "%kernel.root_dir%/linksink.sqlite3"

    feed_title:        Gesammelte Links zu Freifunk
    feed_desc:         Dieser Feed wird mit LinkSink erstellt, einer Plattform, wo man Links zu Themen hinterlässt
    feed_link:         /

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true
