/* line 1, assetic_compass0QRHjZ.scss */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* line 6, assetic_compass0QRHjZ.scss */
header {
  top: 0;
}

/* line 10, assetic_compass0QRHjZ.scss */
header .ui.grid > .column, .title.ui.grid > .column {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 15, assetic_compass0QRHjZ.scss */
.box h2 {
  font-size: 1rem !important;
}

/* line 19, assetic_compass0QRHjZ.scss */
a .icon {
  text-decoration: none;
}

/* line 23, assetic_compass0QRHjZ.scss */
a, a:hover, a:visited {
  color: #000000;
}

/* line 27, assetic_compass0QRHjZ.scss */
a:hover {
  text-decoration: none;
}

/* line 31, assetic_compass0QRHjZ.scss */
#mission-statement {
  overflow: hidden;
}
/* line 34, assetic_compass0QRHjZ.scss */
#mission-statement img {
  margin-bottom: 0;
}
