/* line 2, assetic_compassovKESP.scss */
.event.box h2 {
  padding: 0.5rem;
}
/* line 4, assetic_compassovKESP.scss */
.event.box h2 a, .event.box h2 a:hover, .event.box h2 a:visited {
  color: #ffffff;
}
/* line 9, assetic_compassovKESP.scss */
.event.box .startdate, .event.box .location, .event.box .url, .event.box .edit {
  display: inline;
  margin: 0;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
/* line 16, assetic_compassovKESP.scss */
.event.box ul.tags {
  padding-left: 0;
  margin: 0;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline;
}
/* line 22, assetic_compassovKESP.scss */
.event.box ul.tags li {
  list-style-type: none;
  display: inline;
  margin-right: 0.5rem;
}

/* line 32, assetic_compassovKESP.scss */
form .ui.form .field .attached-label > input, form .ui.form .field .attached-label > textarea {
  margin-bottom: 2rem;
}
/* line 35, assetic_compassovKESP.scss */
form .ui.form .field .attached-geo-label > input, form .ui.form .field .attached-geo-label > textarea {
  margin-bottom: 3.2rem;
}

/* line 41, assetic_compassovKESP.scss */
#map {
  height: 20rem;
}
