<header class="ui fixed main menu inverted transparent ">
    <div class="ui one column page grid">
        <div class="ui column">
            <div class="title item"><a href="{{ path('') }}">Freifunk LinkSink</a></div>
            <div class="item"><a href="{{ path('_new') }}">Neuer Link</a> </div>
        </div>
    </div>
</header>
