<header class="ui inverted top attached menu">
    <a class="title {% if app.request.pathinfo == path('') %}active {% endif %}item" href="{{ path('') }}">Freifunk LinkSink</a>
    <a class="{% if app.request.pathinfo == path('_new') %}active {% endif %}item" href="{{ path('_new') }}">
        <i class="add square icon"></i>Neuer Link
    </a>
    <div class="right menu">
        <div class="item">
            <a class="title="Zieh das in deine Bookmarkleiste und klicke darauf, wenn du eine interessante Seite findest." class="btn btn-default" href="{{ content("./js/bookmarklet/bookmarklet_loader.txt") }}">
            <i class="bookmark icon"></i>Bookmarklet
            </a>
        </div>
    </div>
</header>
